
@{
    ViewData["Title"] = "Index13";
}

<h2>Index13</h2>



@*<form action="Index" method="post">
        CustomerName:<br>
        <input type="text" name="CustomerName"><br>
        CustomerAddress:<br>
        <input type="text" name="CustomerAddress"><br>
        CustomerEmail:<br>
        <input type="text" name="CustomerEmail"><br>
        CustomerPhoneNumber:<br>
        <input type="text" name="CustomerPhoneNumber"><br>


        <input type="radio" name="gender" value="Saving" checked> Saving<br>
        <input type="radio" name="gender" value="Current"> Current<br>



        <input type="submit" value="Submit">
    </form>*@

<form action="Index" method="post" enctype="multipart/form-data">
    uploadfile<input type ="file" name="files" />
</form>